
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap');

.poppins {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-family: poppins;
}

/* nev bar section */

.headerSection {
    background-color: #252734;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
}

.logoSection {
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.headButton {
    display: flex;
    align-items: center;
}

.logoSection h1 {
    margin-left: 10px;
}

.logoSection i {
    display: none;
}

.navSection{
    display: flex;
    align-items: center;
}

.responsiveNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.responsiveNav i {
    display: none;
    color: white;
}

.navSection ul {
    display: flex;
    list-style: none;
    margin-right: 30px;
    color: #858792;
}

.navSection a {
    color: white;
    text-decoration: none;
}

.headButton button {
    padding: 20px 30px;
    border-radius: 9999px;
    font-size: 15px;
    background-color: #252734;
    border-color: #999999;
    color: #FFFFFF;
    margin-left: 30px;
    font-size: larger;
}

.navSection li {
    margin-left: 50px;
    font-size: larger;
}

@media (max-width: 730px) {
    header {
        flex-direction: column;
    }

    .responsiveNav {
        padding: 0px 30px;
    }

    .responsiveNav i {
        display: contents;
        font-size: x-large;
    }

    .headButton {
        display: none;
    }

    .navSection ul {
        display: none;
        flex-direction: column;
        margin: 0;
    }

    .navSection li {
        margin: 10px 0;
    }

    .headButton {
        padding-left: 30px;
        flex-direction: row;
    }

    .headButton button {
        margin: 10px 0;
        width: calc(45%);
        padding: 15px;
    }

}

/* hero section */

.heroContener {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.heroHeadSection {
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #FFFFFF;
    margin: 40px 0px;
}

.heroTextSection {
    margin: 40px 0px;
    color: #FFFFFF;
}

.icon {
    font-size: 30px;
}

.icon i {
    color: white;
    margin: 40px 0px;
    margin-left: 10px;
}

.heroImageSection img {
    border-radius: 16px;
    width: 350px;
}

button {
    padding: 20px 30px;
    border-radius: 9999px;
    font-size: 15px;
    background-color: #252734;
    border-color: #999999;
    color: #FFFFFF;
    font-size: larger;
}

@media (max-width: 730px) {
    .heroHeadSection {
        margin: 0px;
    }

    .heroTextSection {
        margin: 20px 0px;
    }

    .heroContener {
        flex-direction: column;
        padding: 0px 30px;
        max-width: none;
        align-items: start;
    }

    .heroHeadSection {
        font-size: 50px;
    }

    .heroImageSection img {
        width: 100%;
    }

    button {
        padding: 15px 15px;
        font-size: 15px;
    }
}